@media(max-width: 991px) {
    .container {
        width: 720px;
    }
    .promo {
        background: url('../img/bg/main_bg_media-991.jpeg') center (center/cover) no-repeat;
        &__wrapper {
            align-items: center;
        }
    }
    .advantage {
        &__icon {
            width: 210px
        }
    }
    .carousel {
        .owl-carousel {
            width: 650px;
        }
        .owl-dots {
            margin: 0 auto;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            width: 320px;
            .owl-dot {
                span {
                    display: block;
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    margin: 5px 7px;
                    background-color: #D6D6D6;
                }
                &.active {
                    span {
                        background-color: #869791;
                    }
                }
            }
        }
        
    }
    .footer {
        &__info {
            width: 40vw;
            height: 200px;    
        }
        &__addr {
            font-size: 17px;
            margin-top: 30px;
            
        }
        &__phone {
            font-size: 18px;
            margin-top: 20px;
        }
        &__social {
            margin-top: 25px;
            &-item {
                width: 40px;
                height: 40px;
                span {
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width: 767px) {
    .container {
        width: 540px;
    }
    .header {
        flex-direction: column;
        &__official {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__wrapper_s-visible {
            margin: 15px 30px 0 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__wrapper-official {
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #FFF;
            span {
                display: block;
                font-size: 18px;
            }
        }
        &__wrapper-contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__logo {
            margin: 0 auto;
        }
    }
    .promo {
        padding-bottom: 50px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 35px;
        }
    }
    .advantage {
        padding: 40px 0;
        min-height: 405px;
        &__icons {
            margin-top: 35px;
        }
        &__icon {
            width: 165px;
        }
        &__icon-descr {
            margin-top: 15px;
        }
        &__icon-header {
            font-size: 14px;
        }
        &__icon-text {
            font-size: 12px;
        }
    }
    .carousel {
        .owl-carousel {
            width: 500px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
    }
    .reviews {
        .review {
            flex-direction: column;
            align-items: center;
            &__img {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    .footer {
        &__info {
            width: 55vw;
            height: 200px;    
        }
        
    }
}

@media(max-width: 575px) {
    .container {
        width: 320px; 
    }
    .promo {
        &__header {
            font-size: 25px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            width: 110px;
            flex-direction: column;
            margin: 0;
        }
        &__icon {
            margin-top: 15px;
            img {
                margin-bottom: 5px;
            }
        }
    }
    .button {
        &_main{
            width: 245px;
        }
    }
    .header {
        &__wrapper_s-visible {
            flex-direction: column;
        }
    }
    .advantage {
        &__icons {
            flex-direction: column;
            margin: 0 15px;
        }
        &__icon {
            width: 100%;
            margin: 10px auto;
        }
    }
    .title {
        font-size: 22px;
    }
    .carousel {
        .owl-carousel {
            width: 300px;
        }
        
    }

    .consultation {
        .container {
            width: 300px;
        }
        min-height: 550px;
        padding: 40px 10px;
        .title {
            font-size: 20px;
            text-align: center;
            &_left {
                line-height: 35px;
            }
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            width:260px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
        }
    }

    .reviews {
        &__wrapper {
            padding: 0 10px;
            margin-top: 30px;
        }
        .review {
            .review__img {
                width: 100px;
            }
        }
    }
    .footer {
        &__info {
            width: 100vw;
            height: 200px;    
        }
        &__addr {
            font-size: 17px;
            margin-top: 30px;
            
        }
        &__phone {
            font-size: 18px;
            margin-top: 20px;
        }
        &__social {
            margin-top: 25px;
            &-item {
                width: 40px;
                height: 40px;
                span {
                    font-size: 20px;
                }
            }
        }
    }
    .modal {
        width: 250px;
        padding: 19px 20px 20px 20px;
        &__close {
            font-size: 30px;
            right: -25px;
        }
        form {
            width: 100%;
            input {
                height: 40px;
                font-size: 12px;
            }
            .button_submit {
                font-size: 12px;
                height: 40px;
            }
        }
        &__subtitle {
            font-size: 13px;    
        }
        &__descr {
            font-size: 12px;
        }
    }

}