@import 'base/mixins';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/section-header';

* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    width: 950px;
    margin: 0 auto;
}


