@import 'base/mixins';
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';

@import 'media';



