.carousel {
    padding: 80px 0;
    .owl-carousel {
        display: block;
        width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-next {
        right: -70px;
    }
    .owl-prev {
        left: -70px;
    }
    .owl-dots {
        display: none;
    }
}

