.catalog {
    padding: 0 0 79px 0;
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: 46px;
    }
    &__tab {
        width: 205px;
        height: 50px;
        border: 2px solid #D0D0D0;
        margin: 0 5px;
        transform: skewX(-20deg);
        text-align: center;
        line-height: 48px;
        text-transform: uppercase;
        color: #6B6B6B;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
        }
    }
    &__tab_active {
        background-color: $main-color;
        color: #FFF;
        border: none;
    }
    &__content {
        margin-top: 57px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &-active {
            display: flex;
        }
    }
    &__item {
        width: 303px;
        min-height: 445px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        &-title {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }
        &-descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        &-link {
            display: block;
            margin-top: 10px;
            color: $main-color;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $main-color;
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price{
            font-weight: 700;
            font-size: 20px;
            color: #050505;
            &-old {
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                text-decoration: line-through;
            }            
        }
        &-wrapper {
            width: calc(200% + 40px);
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        &-content {
            width: 50%;
            padding-right: 0;
            transform: translateX(calc(-100% - 20px));
            transition: 0.5s all;
            &-active {
                transform: translateX(0%);
                padding-right: 20px;
            }
        }
        &-list {
            position: relative;
            width: 50%;
            transform: translateX(0%);
            transition: 0.5s all;
            list-style-type: none;
            margin-bottom: 0;
            
            &-active {
                transform: translateX(-100%);
                padding-right: 20px;
                padding-left: 12px;
            }
            li {
                position: relative;
                margin-bottom: 10px;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                &::before {
                    content:'';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    top: 7px;
                    left: -15px;
                }
            }
        }
        &-back {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(calc(-50% - 12px));
            font-weight: 500;
            font-size: 14px;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }


    }
    
}